
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AutomationPage</title>
	<link rel="icon" href="static/images/icons8-ноутбук-30.png" type="static/image/png">

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	
	<div id="fh5co-header" style="background-image: url(static/images/polygon.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="bio-photo text-center">
			<a href="/"><img src="static/images/person_2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
		</div>
	</div>

	<div id="fh5co-main">
				<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>01. About My Test</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-md-12">
							<p>
								<ol>
								  <li>Open web page https://rabota.by/</li>
								  <li>Enter the name of the proposed position in the search field "QA"</li>
								  <li>Clik to the button "Find work"</li>
								  <li>Set radio button Income level</li>
								  <li>Set check box Speciality "QA</li>
								  <li>Open first vacancies</li>
								  <li>Perform check that Page with vacancies is open</li>
								</ol>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->

		<div class="fh5co-section fh5co-works">
		  <div class="container">
			<div class="row">
			  <div class="col-md-4 col-sm-4 col-xs-12 section-heading">
				<h2>02. My Automation Test</h2>
			  </div>
			  <div class="col-md-8 col-sm-8 col-xs-12">
				<div class="row">
				  <div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
					<a href="/run" title="Button 1" class="btn btn-primary">Let's start test</a>
				  </div>
				  <div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
					<a href="https://github.com/r-egor/step-learn" target="_blank"title="Button 2" class="btn btn-primary">Code view</a>
				  </div>
				  <div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
					<a href="#" title="Button 3" class="btn btn-primary">Button 3</a>
				  </div>
				  <div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
					<a href="#" title="Button 4" class="btn btn-primary">Button 4</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>


		<!-- END .fh5co-section -->


		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>03. Copyright</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="col-md-12">
							<p>&copy;2023 Rukhovets. All Rights Reserved.
								<br><a href="https://github.com/r-egor" target="_blank">GitHub</a>
								<a href="https://www.linkedin.com/in/rukhovets/" target="_blank">linkedin</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


	

	</div>


	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>

	<!-- Stellar -->
	<script src="static/js/jquery.stellar.min.js"></script>

	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>

	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>
	
	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

	</body>
</html>

